.container{
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', sans-serif;
}
#header-nav
{
  margin-bottom: 30px;
}

.navbar
{
   margin:0px;
   width:100%;
   border:0px;
   border-radius: none;
   background: #ee5c5c;
   border-bottom: 1px solid #bbb;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	box-shadow: 0 1px 2px rgba(0,0,0,0.15)
}

.navbar-brand {
  font-size:21px;
  color: #fff;
	font-weight: bold;
	margin-right: 20px;
}

.navbar-nav {
  padding-left: 20px;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}
.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.icon-size
{
    font-size: 87px;
}




