<div class="panel panel-default">
  <div class="panel-heading">
    <div class="heading"><i class="fa fa-paper-plane"></i> <span class="section-intro__style"> Subscription Plans</span></div>
    <ul class="panel-options">
      <li data-toggle="modal" data-target="#planModal"><i class="fa fa-plus-square"></i> Plan</li>
    </ul>

    <!-- Subscription plan Modal -->
    <div id="planModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><i class="fa fa-paper-plane"></i> Subscription Plan</h4>
          </div>
          <div class="modal-body">

            <form>
              <div class="row">
                 <div class="col-12 col-md-6">
                     <label for="name">Name</label>
                     <input type="text" class="form-control" name="name"  placeholder="Plan Name">
                 </div>
                 <div class="col-12 col-md-6">
                   <label for="model">Duration</label>
                   <input type="text" class="form-control" name="duration"  placeholder="Plan Duration">
                 </div>
              </div>

              <div class="row">
                  <div class="col-12 col-md-6">
                    <label for="name">Amount</label>
                     <input type="text" class="form-control" name="amount" placeholder="Amount">
                  </div>
                  <div class="col-12 col-md-6">
                    <label for="name">Status</label>
                      <select class="form-control">
                        <option value="1">Active</option>
                        <option value="-1">Deleted</option>
                      </select>
                  </div>
              </div>
           </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" #modalClose>Cancel</button>
            <button type="button" class="btn btn-primary" >Save</button>
          </div>
        </div>

      </div>
      <!-- end of modal -->
    </div>



  </div>
  <div class="panel-body">


    <div class="row">
      <div class="row-12 col-md-3">
        <div class="subscription-plan" data-toggle="modal" data-target="#planModal">
          <div class="plan-name">Silver</div>
          <div class="plan-duration">30 Days</div>
          <div class="plan-amount">
            Rs. 199
          </div>
        </div>

      </div>
      <div class="row-12 col-md-3">
        <div class="subscription-plan" data-toggle="modal" data-target="#planModal">
          <div class="plan-name">Gold</div>
        <div class="plan-duration">90 Days</div>
        <div class="plan-amount">
          Rs. 549
        </div>
        </div>

      </div>
      <div class="row-12 col-md-3">
        <div class="subscription-plan" data-toggle="modal" data-target="#planModal">
          <div class="plan-name">Diamond</div>
          <div class="plan-duration">180 Days</div>
          <div class="plan-amount">
            Rs. 1049
          </div>
        </div>

      </div>
      <div class="row-12 col-md-3">
        <div class="subscription-plan" data-toggle="modal" data-target="#planModal">
          <div class="plan-name">Platinum</div>
          <div class="plan-duration">365 Days</div>
          <div class="plan-amount">
            Rs. 2049
          </div>
        </div>

      </div>
    </div>
  <!-- end of panel body -->
  </div>
</div>
