


.panel , .panel-default
{
  margin:0px;
}
.panel-heading
{
    background-color: #f2f3f6;
    display:flex;
    justify-content:space-between;
}
.panel-heading .heading
{
  font-size: 16px;
    line-height: 30px;
    // padding:15px;
    font-weight:700;
    color:#3d4152;
}

.panel-options li
{
  float:left;
  margin:0 5px;
  padding:5px 15px;
  cursor: pointer;

    border: 1px solid #384aeb;

    color: #222;
    font-weight: 500;

    background: #384aeb;
    color: #fff;
    transition: all .4s ease;
}
.panel-options li:hover
{
  background-color: #ffffff;
  color:#3d4152;
}



.modal-body{
        padding:5px;
      }

 .modal-body .col-12
{
  margin-bottom:10px;
}

.modal-body label
{
  font-size: 14px;
  font-weight:500;
  color: #3d4152;
  text-transform: capitalize;
  display: block;
}

.modal-body input, .modal-body select
{
  border-radius:0px;
  background-color: #f2f3f6;
  color: #000000;
  font-weight:500;
}

.modal-body input[type="text"]::placeholder,
.modal-body input[type="text"]::-moz-placeholder,
.modal-body input[type="text"]::-webkit-input-placeholder
{
  color:#384aeb;
}

.subscription-plan-table
{
  padding:20px;
}
.subscription-plan-table td
{
  padding:10px;
}
.subscription-plan-table .heading
{
  background-color:#5696ca;
  color:#fff;
}

.subscription-plan-table .list
{
  cursor: pointer;
}

.subscription-plan
{
  border:1px solid #ccc;
  text-align:center;
  cursor:pointer;
}

.subscription-plan .plan-name
{
  font-weight:900;
  font-size:25px;
  color:#5696ca;
}







