<div class="panel panel-default">
  <div class="panel-heading">
     <div class="heading"><i class="fa fa-cubes"></i> <span class="section-intro__style"> Product</span></div>
     <ul class="panel-options">
        <li data-toggle="modal" data-target="#productAddModal"><i class="fa fa-plus-square"></i> Product</li>
        <li><i class="fa fa-sliders"></i> Filter</li>
     </ul>
     <!-- product Modal -->
     <div id="productAddModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
           <!-- Modal content-->
           <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title"><i class="fa fa-cubes"></i> Add New Product</h4>
              </div>
              <div class="modal-body">
                 <form>
                    <div class="row">
                       <div class="col-12 col-md-6">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="addProductData.name" placeholder="Name">
                       </div>
                       <div class="col-12 col-md-6">
                          <label for="model">Model</label>
                          <input type="text" class="form-control" id="model" name="model_no"  [(ngModel)]="addProductData.model_no" placeholder="Model">
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-12 col-md-6">
                          <label for="name">Brand</label>
                          <input type="text" class="form-control" id="brand" name="brand"  [(ngModel)]="addProductData.brand" placeholder="Brand">
                       </div>
                       <div class="col-12 col-md-6">
                          <label for="name">Type</label>
                          <input type="text" class="form-control" id="type" name="type"  [(ngModel)]="addProductData.type" placeholder="Type i.e Casual , formal etc.">
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-12 col-md-6">
                          <label for="name">Occasion</label>
                          <input type="text" class="form-control" id="occasion" name="occation"  [(ngModel)]="addProductData.occation" placeholder="Occasion i.e Party , school etc.">
                       </div>
                       <div class="col-12 col-md-6">
                          <label for="material">Material</label>
                          <input type="text" class="form-control" name="material"  [(ngModel)]="addProductData.material" placeholder="Leather etc.">
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-12 col-md-12"><label for="name">Category</label></div>
                       <div class="col-12 col-md-6">
                          <label class="radio-container">Men
                          <input class="form-check-input" type="radio" name="catagory" [(ngModel)]="addProductData.catagory" value="1">
                          <span class="checkmark"></span>
                          </label>
                       </div>
                       <div class="col-12 col-md-6">
                          <label class="radio-container">Women
                          <input class="form-check-input" type="radio" name="catagory"  [(ngModel)]="addProductData.catagory" value="2">
                          <span class="checkmark"></span>
                          </label>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-12 col-md-6">
                          <label class="radio-container">Kids &amp; Baby
                          <input class="form-check-input" type="radio" name="catagory" [(ngModel)]="addProductData.catagory"  value="3">
                          <span class="checkmark"></span>
                          </label>
                       </div>
                       <div class="col-12 col-md-6">
                          <label class="radio-container m-r-45">Both Men &amp; Women
                          <input class="form-check-input" type="radio" name="catagory"  [(ngModel)]="addProductData.catagory" value="4">
                          <span class="checkmark"></span>
                          </label>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-12 col-md-6">
                          <label for="minage">Minimum Age</label>
                          <input type="text" class="form-control" name="age_max"  [(ngModel)]="addProductData.age_max" placeholder="For kids & babies minimum age">
                       </div>
                       <div class="col-12 col-md-6">
                          <label for="maxage">Maximum Age</label>
                          <input type="text" class="form-control" name="age_min"   [(ngModel)]="addProductData.age_min" placeholder="For kinds & babies maximum age">
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-12 col-md-12">
                          <label>Description</label>
                          <textarea class="form-control" id="description"  [(ngModel)]="addProductData.description" name="description" rows="3"></textarea>
                       </div>
                    </div>
                 </form>
              </div>
              <div class="modal-footer">
                 <button type="button" class="btn btn-danger" data-dismiss="modal" #modalClose>Cancel</button>
                 <button type="button" class="btn btn-primary" (click)="addProduct()">Save</button>
              </div>
           </div>
        </div>
        <!-- end of modal -->
     </div>
  </div>
  <div class="panel-body">
     <form class="filter-form">
        <div class="row filters">
           <div class="col-12 col-md-4">
              <div class="form-group">
                 <div class="input-group">
                    <span class="input-group-addon">Gender</span>
                    <select class="form-control" name="selectbrand">
                       <option>Women</option>
                       <option>Men</option>
                       <option>Baby &amp; Kids</option>
                    </select>
                 </div>
              </div>
           </div>
           <div class="col-12 col-md-4">
              <div class="form-group">
                 <div class="input-group">
                    <span class="input-group-addon">Brand</span>
                    <select class="form-control" name="selectbrand">
                       <option>Puma</option>
                       <option>Adidas</option>
                       <option>Woodland</option>
                    </select>
                 </div>
              </div>
           </div>
           <div class="col-12 col-md-4">
              <div class="form-group">
                 <div class="input-group">
                    <span class="input-group-addon">Type</span>
                    <select class="form-control" name="selectbrand">
                       <option>Casual</option>
                       <option>Flip-Flop</option>
                       <option>Formal</option>
                       <option>Sandals</option>
                    </select>
                 </div>
              </div>
           </div>
        </div>
     </form>
     <section class="products">
        <div class="product-card" *ngFor="let product of allProduct">
           <div class="product-card-img">
              
            <div style="height: 200px; margin: unset; overflow: hidden;">
               
               <img class="card-img"  [src]="getRandomImages(product.images)" style="height: 200px; width: 100%;" alt="product1">
            </div>
              <ul class="product-card-imgOverlay">
                 <li data-toggle="modal" data-target="#productAddModal" (click)="selectProduct(product)"><button><i class="fa fa-pencil"></i></button></li>
                 <li data-toggle="modal" data-target="#sizeAddModal" (click)="selectProduct(product)"><button><i class="fa fa-paw"></i></button></li>
                 <li data-toggle="modal" data-target="#colorAddModal" (click)="selectProduct(product)"><button><i class="fa fa-paint-brush"></i></button></li>
                 <li data-toggle="modal" data-target="#imageUploadModal" (click)="selectProduct(product)"><button><i class="fa fa-picture-o"></i></button></li>
              </ul>
           </div>
           <div class="product-info">
              <div class="product-brand">{{product.brand}}</div>
              <div class="product-name">{{product.product | titlecase}}</div>
              <div class="product-type">Women , Sports shoes</div>
              <div class="product-size">
                 <p>Sizes : <span  *ngFor="let size of product.sizes" >{{size.size}},</span></p>
              </div>
              <div class="product-color">
                 Colors :  <span *ngFor="let color of product.colors" style="margin: 2px;">
                 <img class="card-img" [src]="color.color" alt="product1" class="color-list">
                 </span>
              </div>
           </div>
        </div>
        <!-- hidden-product-card is used align last item of items in flex display -->
        <div class="product-card hidden-product-card" *ngFor="let in of [1,2,3]">
        </div>
     </section>
     <!-- end of panel body -->
  </div>
</div>
<!-- image Modal -->
<div id="imageUploadModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
     <!-- Modal content-->
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title"><i class="fa fa-picture-o"></i> Product Image</h4>
        </div>
        <div class="modal-body">
           <form>
              <div class="row">
                 <div class="col-12 col-md-12">
                    <label for="name">color</label>
                    <select class="form-control" [(ngModel)]="selectedColor" name ="selectedColor">
                       <option value=""> Select Color</option>
                       <option value="{{color.colorId}}" *ngFor="let color of selectedProduct.colors">{{color.colorName}}</option>
                    </select>
                 </div>
                 <div>
                  <image-cropper
                  [imageChangedEvent]="imageChangedEvent" 
                  [maintainAspectRatio]="true"
                  [aspectRatio]="4 / 4"
                  format="png"
                  (imageCropped)="imageCropped($event)"
                  (imageLoaded)="imageLoaded($event)"
                  (cropperReady)="cropperReady()"
                  (loadImageFailed)="loadImageFailed()"
                  style="height: 40rem;
                  width: 40rem;"
              ></image-cropper>
              
              <!-- <img [src]="croppedImage" style="height: 20rem; width: 20rem;"/> -->
              <button (click)="uploadImage()">Upload Image</button>
                 </div>
                 <div class="col-6 col-md-6">
                    <div class="form-group">
                        <div class="overlay" *ngIf="showOverlay">
                          <img src="../../assets/images/upload.gif" style="height: 90px;width: 90px; margin: 25px;">
                        </div>
                        <img [attr.src]="tempImageString" style="height: 150px; width: 150px; margin-left: 100px;">
                        <input type="file" (change)="fileChangeEvent($event)" />
                        <!-- <input name="file"  placeholder="Add product image" type="file" (change)="uploadImage($event.target.files)"> -->
                    </div>
                 </div>
                 <div class="col-6 col-md-6">
                  <div class="form-group">
                      <!-- <div class="overlay" *ngIf="showOverlay">
                        <img src="../../assets/images/upload.gif" style="height: 90px;width: 90px; margin: 25px;">
                      </div> -->
                      <img [attr.src]="images.product_image" style="height: 150px; width: 150px; margin-left: 100px;" *ngFor ="let images of tempUploadImage " class="show_product_list">
                      <!-- <input name="file"  placeholder="Add product image" type="file" (change)="uploadImage($event.target.files)"> -->
                  </div>
               </div>
              </div>
              <div class="row">
                 <div class="col-12 col-md-12">
                    <!--  <div class="imagePreview" *ngIf="imagePreview?.length>0">
                       <span *ngFor="let image of imagePreview;let i=index;">
                         <img  [src]="image" alt="bazarnav">
                         <svg class="uploadCancel" width="20" height="20" viewBox="0 0 24 24"  (click)="onDeleteImage(i)"><path d="M17.0251484,0.288798437 C17.5090218,-0.114571204 18.2292627,-0.0967643175 18.6927565,0.350826444 C19.189357,0.830387975 19.2031698,1.62172366 18.7236083,2.11832416 L18.7236083,2.11832416 L11.274,9.831 L18.7236083,17.5450054 C19.2031698,18.0416059 19.189357,18.8329416 18.6927565,19.3125031 C18.2292627,19.7600939 17.5090218,19.7779007 17.0251484,19.3745311 L16.9252588,19.2816513 L9.537,11.631 L2.14917595,19.2816513 L2.04928636,19.3745311 C1.56541292,19.7779007 0.845172034,19.7600939 0.381678232,19.3125031 C-0.114922271,18.8329416 -0.128735086,18.0416059 0.350826444,17.5450054 L0.350826444,17.5450054 L7.799,9.831 L0.350826444,2.11832416 C-0.128735086,1.62172366 -0.114922271,0.830387975 0.381678232,0.350826444 C0.845172034,-0.0967643175 1.56541292,-0.114571204 2.04928636,0.288798437 L2.14917595,0.381678232 L9.537,8.032 L16.9252588,0.381678232 Z" fill="#f00000" fill-rule="nonzero" stroke="#f00000" stroke-width="2"></path></svg>
                       </span>
                       </div> -->
                 </div>
              </div>
           </form>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-danger" data-dismiss="modal" #modalClose>Cancel</button>
           <button type="button" class="btn btn-primary" (click)="uploadProductImage()">Save</button>
        </div>
     </div>
  </div>
  <!-- end of modal -->
</div>
<!-- size Modal -->
<div id="sizeAddModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
     <!-- Modal content-->
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title"><i class="fa fa-paw"></i> Product Size </h4>
        </div>
        <div class="modal-body">
           <form>
              <div class="row">
                 <div class="col-12 col-md-5"><label >UK/IND Size</label></div>
                 <div class="col-12 col-md-5"><label >Length ( in cm )</label></div>
                 <div class="col-12 col-md-2"></div>
              </div>
              <div class="row"  *ngFor="let sizelist of productSize;let i=index">
                 <div class="col-12 col-md-5">
                    <input type="text" class="form-control" name="ukindsize{{i}}" [(ngModel)]="sizelist.size" placeholder="size">
                 </div>
                 <div class="col-12 col-md-5">
                    <input type="text" class="form-control" name="length{{i}}" [(ngModel)]="sizelist.length" placeholder="Length">
                 </div>
                 <div class="col-12 col-md-2">
                    <button class="btn btn-warning" type="button" *ngIf="productSize?.length>1" (click)="deleteProductSize(sizelist)">
                    <svg  width="13" height="13" viewBox="0 0 19 19">
                       <path d="M17.0251484,0.288798437 C17.5090218,-0.114571204 18.2292627,-0.0967643175 18.6927565,0.350826444 C19.189357,0.830387975 19.2031698,1.62172366 18.7236083,2.11832416 L18.7236083,2.11832416 L11.274,9.831 L18.7236083,17.5450054 C19.2031698,18.0416059 19.189357,18.8329416 18.6927565,19.3125031 C18.2292627,19.7600939 17.5090218,19.7779007 17.0251484,19.3745311 L16.9252588,19.2816513 L9.537,11.631 L2.14917595,19.2816513 L2.04928636,19.3745311 C1.56541292,19.7779007 0.845172034,19.7600939 0.381678232,19.3125031 C-0.114922271,18.8329416 -0.128735086,18.0416059 0.350826444,17.5450054 L0.350826444,17.5450054 L7.799,9.831 L0.350826444,2.11832416 C-0.128735086,1.62172366 -0.114922271,0.830387975 0.381678232,0.350826444 C0.845172034,-0.0967643175 1.56541292,-0.114571204 2.04928636,0.288798437 L2.14917595,0.381678232 L9.537,8.032 L16.9252588,0.381678232 Z" fill="#3d4152" fill-rule="nonzero" stroke="#3d4152" stroke-width="1"></path>
                    </svg>
                    </button>
                 </div>
              </div>
           </form>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-danger" data-dismiss="modal" #modalClose>Cancel</button>
           <button class="btn btn-info" type="button" (click)="addProductSize()">Add list</button>
           <button type="button" class="btn btn-primary" (click)="saveSize()">Save</button>
        </div>
     </div>
  </div>
  <!-- end of modal -->
</div>
<!-- color Modal -->
<div id="colorAddModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
     <!-- Modal content-->
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title"><i class="fa fa-paint-brush"></i> Color</h4>
        </div>
        <div class="modal-body">
           <div style="padding: 20px;">
              <div class="chip" *ngFor="let color of selectedColors; let i = index">
                 <img [src]="color.color_image_thumb" alt="Person" width="96" height="96">
                 {{color.name}}
                 <span class="closebtn" (click)="deleteProductColor(i)">&times;</span>
              </div>
           </div>
           <form>
              <div class="row">
                 <div class="col-12 col-md-12">
                    <select class="form-control" (change)="this.addProductColor()" [(ngModel)]="colorIndex" name ="colorIndex">
                    <option value="-1">Select Color</option>
                    <option *ngFor="let color of masterColors; let i= index" value="{{i}}"> {{color.name}}</option>
                    </select>
                 </div>
                 
              </div>
           </form>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-danger" data-dismiss="modal" #modalClose>Cancel</button>
           <!-- <button class="btn btn-info" type="button" >Add list</button> -->
           <button type="button" class="btn btn-primary" (click)="saveProductColors()">Save</button>
        </div>
     </div>
  </div>
  <!-- end of modal -->
</div>