
.sidemenu .list-group-item
{
   background-color: #2d2b32;
   color: #767676;
}

.sidemenu a{
  color: #555;
    display: block;
    line-height: 19px;
    font-size:14px;
    padding: 14px;
    text-decoration: none!important;
}
.sidemenu i
{
  margin-right:7px;
}

.sidemenu .list-group-item:hover
{
    color: #ffffff;
    transition: 0.5s;
}





