<div class="list-group sidemenu">
  <a href="javascript:void(0)" (click) = "this.goNext('dashboard')" class="list-group-item"><i class="fa fa-tachometer"></i> Dashboard</a>
  <a href="javascript:void(0)" (click) = "goNext('product')" class="list-group-item"><i class="fa fa-cubes"></i>  Product</a>
  <a href="javascript:void(0)" (click) = "goNext('master-color')" class="list-group-item"><i class="fa fa-cubes"></i>  Colors</a>
  <a href="javascript:void(0)" (click) = "goNext('seller')" class="list-group-item"><i class="fa fa-address-card-o"></i> Seller</a>
  <a href="javascript:void(0)" (click) = "goNext('subscription-plan')" class="list-group-item"><i class="fa fa-paper-plane"></i> Subscription Plan</a>
  <a href="javascript:void(0)"  class="list-group-item collapsed" data-toggle="collapse" href="#togglePages">
  <i class="menu-icon icon-cog"></i>
  <i class="icon-chevron-down pull-right"></i>
  <i class="icon-chevron-up pull-right"></i>
  <i class="fa fa-user"></i> My Account
  </a>
  <div id="togglePages" class="list-group collapse unstyled subsidemenu">
     <a class="list-group-item"  href="javascript:void(0)" (click) = "goNext('other-login.html')"><i class="icon-inbox"></i>Login </a>
     <a class="list-group-item" href="javascript:void(0)" (click) = "goNext('myAccount')"><i class="icon-inbox"></i>Profile </a>
     <a class="list-group-item" href="javascript:void(0)" (click) = "goNext('other-user-listing.html')"><i class="icon-inbox"></i>All Users </a>
  </div>
</div>