.panel , .panel-default
{
  margin:0px;
}
.panel-heading
{
    background-color: #f2f3f6;
    display:flex;
    justify-content:space-between;
}
.panel-heading .heading
{
  font-size: 16px;
    line-height: 30px;
    // padding:15px;
    font-weight:700;
    color:#3d4152;
}
.panel-body
{
  padding:0px;
}

.panel-filter
{
  display:flex;
  justify-content:space-between;
  padding:15px;
}

.panel-filter .filter-heading
{
   font-size:14px;
   color:#777;
}
.seller-filter .btn
{
  margin:0px;
  padding:3px 7px;
}
.seller-filter .dropdown-menu
{
  border-radius:0px;
}
.seller-filter-menu li
{
  cursor:pointer;
  padding:3px 10px;
  margin:2px 0px;
}
.seller-filter-menu li:hover
{
  background-color: #f2f3f6;
}

.seller-search input
{
    font-weight:normal;
    color:#000;
    border:1px solid #777;
    border-radius: 0px;
    padding:5px;
}
.seller-table
{
  padding:20px;
}
.seller-table td
{
  padding:10px;
}
.seller-table .heading
{
  background-color:#5696ca;
  color:#fff;
}

.seller-table .list
{
  cursor: pointer;
}

@media (max-width: 650px){
  .panel-filter
  {
    padding:10px 5px;
  }
}
