<div class="panel panel-default">
  <div class="panel-heading">
    <div class="heading"><i class="fa fa-address-card-o"></i> Seller</div>
    <!-- <ul class="panel-options">
      <li data-toggle="modal" data-target="#productAddModal"><i class="fa fa-plus"></i> Product</li>
      <li><i class="fa fa-sliders"></i> Filter</li>
    </ul> -->




  </div>
  <div class="panel-body">

    <div class="panel-filter">
      <div class="seller-filter">
        <span class="filter-heading">Filter : </span>
        <div class="btn-group">
          <button class="btn">{{sellerFilter}}</button>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu seller-filter-menu">
            <li (click)="ApplySellerFilter('All')">All</li>
            <li (click)="ApplySellerFilter('Active')">Active</li>
            <li (click)="ApplySellerFilter('In-Active')">In-Active</li>
            <li (click)="ApplySellerFilter('Pending')">Pending</li>
            <li (click)="ApplySellerFilter('Rejected')">Rejected</li>
          </ul>
        </div>
      </div>
      <div class="seller-search">
          <label><input type="text" placeholder="Search seller ..."></label>
      </div>

    </div>

  <!-- seller table -->
    <table class="table table-stripped table-hover seller-table">
      <tbody>
        <tr class="heading">
          <td>Seller</td>
          <td>Status</td>
          <td>Renewal Date</td>
        </tr>
        <tr class="list" data-toggle="modal" data-target="#sellerModal">
          <td>Lorem ipsum dolor sit et, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
          <td>Active</td>
          <td>23-10-2021</td>
        </tr>
        <tr class="list" data-toggle="modal" data-target="#sellerModal">
          <td>Lorem ipsum dolor sit et, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
          <td>Pending</td>
          <td>01-12-2020</td>
        </tr>
      </tbody>
    </table>
    <!-- end of table  -->

        <!-- Seller Modal -->
    <div id="sellerModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><i class="fa fa-address-card-o"></i> Seller</h4>
          </div>
          <div class="modal-body">

            <!-- <form>
              <div class="row">
                 <div class="col-12 col-md-6">
                     <label for="name">Name</label>
                     <input type="text" class="form-control" id="name" name="name" [(ngModel)]="addProductData.name" placeholder="Name">
                 </div>
                 <div class="col-12 col-md-6">
                   <label for="model">Model</label>
                   <input type="text" class="form-control" id="model" name="model_no"  [(ngModel)]="addProductData.model_no" placeholder="Model">
                 </div>
              </div>

              <div class="row">
                  <div class="col-12 col-md-6">
                    <label for="name">Brand</label>
                     <input type="text" class="form-control" id="brand" name="brand"  [(ngModel)]="addProductData.brand" placeholder="Brand">
                  </div>
                  <div class="col-12 col-md-6">
                    <label for="name">Type</label>
                    <input type="text" class="form-control" id="type" name="type"  [(ngModel)]="addProductData.type" placeholder="Type i.e Casual , formal etc.">
                  </div>
              </div>

            <div class="row">
              <div class="col-12 col-md-6">
                 <label for="name">Occasion</label>
                 <input type="text" class="form-control" id="occasion" name="occation"  [(ngModel)]="addProductData.occation" placeholder="Occasion i.e Party , school etc.">
              </div>
              <div class="col-12 col-md-6">
                <label for="material">Material</label>
                <input type="text" class="form-control" name="material"  [(ngModel)]="addProductData.material" placeholder="Leather etc.">
              </div>
            </div>



            <div class="row">
              <div class="col-12 col-md-12"><label for="name">Category</label></div>
              <div class="col-12 col-md-6">
                <label class="radio-container">Men
                  <input class="form-check-input" type="radio" name="catagory" [(ngModel)]="addProductData.catagory" value="1">
                  <span class="checkmark"></span>
                </label>
              </div>

              <div class="col-12 col-md-6">
                <label class="radio-container">Women
                  <input class="form-check-input" type="radio" name="catagory"  [(ngModel)]="addProductData.catagory" value="2">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6">
                <label class="radio-container">Kids &amp; Baby
                  <input class="form-check-input" type="radio" name="catagory" [(ngModel)]="addProductData.catagory"  value="3">
                  <span class="checkmark"></span>
              </label>
              </div>

              <div class="col-12 col-md-6">
                <label class="radio-container m-r-45">Both Men &amp; Women
                  <input class="form-check-input" type="radio" name="catagory"  [(ngModel)]="addProductData.catagory" value="4">
                  <span class="checkmark"></span>
              </label>
              </div>

            </div>


            <div class="row">
              <div class="col-12 col-md-6">
                <label for="minage">Minimum Age</label>
                <input type="text" class="form-control" name="age_max"  [(ngModel)]="addProductData.age_max" placeholder="For kids & babies minimum age">
              </div>
              <div class="col-12 col-md-6">
                <label for="maxage">Maximum Age</label>
                 <input type="text" class="form-control" name="age_min"   [(ngModel)]="addProductData.age_min" placeholder="For kinds & babies maximum age">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-12">
                <label>Description</label>
                <textarea class="form-control" id="description"  [(ngModel)]="addProductData.description" name="description" rows="3"></textarea>
              </div>
            </div>


           </form> -->
          </div>
          <div class="modal-footer">

            <button type="button" class="btn btn-success">Approve</button>
            <button type="button" class="btn btn-primary">Activate</button>
            <button type="button" class="btn btn-info">De-Activate</button>
            <button type="button" class="btn btn-warning">Reject</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" #modalClose>Cancel</button>
          </div>
        </div>

      </div>
    </div>

  <!-- end of panel body -->
  </div>
</div>
