
<div class="container-fluid">
  <div class="login-heading">
    <span>- Shoe Store Admin - </span>
  </div>
  <div class="row" *ngIf="currentStep == 'login'">
    <div class="col-12 col-md-3"></div>
    <div class="col-12 col-md-6">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sign In</h4>
        </div>
     <div class="modal-body" id="loginForm">

      <form class="col-12 text-center">
         <div class="form-group" id="signup-message1">
         </div>
             <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                   <input type="text" class="form-control form-control-lg" id="semail" placeholder="Email" aria-describedby="basic-addon1" [(ngModel)]="loginData.email" name="email">
                </div>
             </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                   <input type="password" class="form-control form-control-lg" id="spasswd" placeholder="Password" aria-describedby="basic-addon1" [(ngModel)]="loginData.password" name="password">
                </div>
            </div>
      </form>
     </div>
    <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="login()"> Login</button>
           <h5><a href="/">Forgot Password</a></h5>
           <h5><a href="javascript:void(0)" (click)="changeStep('signup')">Sign Up</a></h5>
     </div>
   </div>
  </div>
    <div class="col-12 col-md-2"></div>
  </div>



  <div class="row" *ngIf="currentStep == 'signup'">
    <div class="col-12 col-md-3"></div>
    <div class="col-12 col-md-6">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sign Up</h4>
        </div>
     <div class="modal-body" id="loginForm">

      <form class="col-12 text-center">
         <div class="form-group" id="signup-message1">
         </div>
              <div class="form-group">
                <!-- <label style="float: left; margin: 8px;">Name : </label> -->
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                  <input type="text" class="form-control form-control-lg" placeholder="Name" aria-describedby="basic-addon1" [(ngModel)]="signUpData.name" name="name">
                </div>
            </div>
             <div class="form-group">
              <!-- <label style="float: left; margin: 8px;">Email : </label> -->
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                   <input type="text" class="form-control form-control-lg" id="semail" placeholder="Email" aria-describedby="basic-addon1" [(ngModel)]="signUpData.email" name="email">
                </div>
             </div>
             <div class="form-group">
              <!-- <label style="float: left; margin: 8px;">Phone : </label> -->
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone"></i> </span>
                   <input type="text" class="form-control form-control-lg" id="semail" placeholder="Phone" aria-describedby="basic-addon1" [(ngModel)]="signUpData.phone" name="phone">
                </div>
             </div>
            <div class="form-group">
              <!-- <label style="float: left; margin: 8px;">Password : </label> -->
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                   <input type="password" class="form-control form-control-lg" id="spasswd" placeholder="Password" aria-describedby="basic-addon1" [(ngModel)]="signUpData.password" name="password">
                </div>
            </div>
      </form>
     </div>
    <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="signup()">Sign Up</button>
          <h5><a href="/">Forgot Password</a></h5>
          <h5><a href="javascript:void(0)" (click)="changeStep('login')">Log In</a></h5>
     </div>
   </div>
  </div>
    <div class="col-12 col-md-2"></div>
  </div>


  <div class="row" *ngIf="currentStep == 'confirmSignup'">
    <div class="col-12 col-md-3"></div>
    <div class="col-12 col-md-6">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sign Up</h4>
        </div>
     <div class="modal-body" id="loginForm">

      <form class="col-12 text-center">
         <div class="form-group" id="signup-message1">
         </div>

             <div class="form-group">
              <label style="float: left; margin: 8px;">Email : </label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                   <input type="text" class="form-control form-control-lg" id="semail" placeholder="Email" aria-describedby="basic-addon1" [(ngModel)]="confirmUser" name="email" disabled>
                </div>
             </div>
            <div class="form-group">
              <label style="float: left; margin: 8px;">Code : </label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                   <input type="password" class="form-control form-control-lg" id="spasswd" placeholder="Password" aria-describedby="basic-addon1" [(ngModel)]="confirmCode" name="confirmCode">
                </div>
            </div>
      </form>
     </div>
    <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="confirm()">Confirm</button>
          <!-- <h5><a href="/">Forgot Password</a></h5> -->
          <h5><a href="javascript:void(0)" (click)="changeStep('login')">Log In</a></h5>
     </div>
   </div>
  </div>
    <div class="col-12 col-md-2"></div>
  </div>

  <div class="login-footer">
    <span>© 2020 shoe store - shoe store.com All rights reserved.</span>
  </div>

</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-elastic-dots" [fullScreen] = "true"></ngx-spinner>
