


.panel , .panel-default
{
  margin:0px;
}
.panel-heading
{
    background-color: #f2f3f6;
    display:flex;
    justify-content:space-between;
}
.panel-heading .heading
{
  font-size: 16px;
    line-height: 30px;
    // padding:15px;
    font-weight:700;
    color:#3d4152;
}

.panel-options li
{
  float:left;
  margin:0 5px;
  padding:5px 15px;
  cursor: pointer;

    border: 1px solid #384aeb;

    color: #222;
    font-weight: 500;

    background: #384aeb;
    color: #fff;
    transition: all .4s ease;
}
.panel-options li:hover
{
  background-color: #ffffff;
  color:#3d4152;
}


.filter-form select
{
  border-radius:0px;
}
.filter-form
{
  border-bottom:2px solid #f2f3f6;
  padding-top:10px;
  margin-bottom: 20px;
}


.products {
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  padding: 1%;
  flex-grow: 1;
  flex-basis: 25%;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  // display: flex; /* so child elements can use flexbox stuff too! */
}
.hidden-product-card
{
  visibility: hidden;
}

.product-card:hover
{
 box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.product-card-img{position:relative;}

.product-card-img img {
  max-width: 100%;
  border:none;
}

.product-card-imgOverlay{transition: opacity 0.3s ease-in-out;text-align:center;background:rgba(255,255,255,0.5);position:absolute;bottom:0;left:0;width:100%;padding:30px 5px;transform:translateY(30px);opacity:0;z-index:-1;transition:all .48s ease}
.product-card-imgOverlay li{display:inline-block; color:#fff;}

.product-card-imgOverlay li button{border:0;border-radius:0;padding:7px 12px;background:#8894ff}

.product-card-imgOverlay li button i,.product-card-imgOverlay li button span{font-size:15px;color:#fff;vertical-align:middle}

.product-card-imgOverlay li button:hover{background:#384aeb}
 .product-card-imgOverlay li:not(:last-child){margin-right:5px}

.product-card:hover .product-card-imgOverlay{opacity:1;z-index:1;transform:translateY(0)}







.product-info
{
  padding:10px;
  margin-top:auto;
}
.product-brand{
  color: #878787;
  font-size: 15px;
  font-weight: 700;}

.product-name
  {
    display: inline-block;
    width: calc(100% - 20px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
  }
  // .product-card:hover .product-name{color:#384aeb;font-weight:700;}

@media (max-width: 920px) {
  .product-card {
    flex: 1 50%;
  }
}


//  .section-intro__style{border-bottom:2px solid #384aeb;padding-bottom:5px}

 /* .card-product{border:0;margin-bottom:25px}
 .card-product p{margin-bottom:0}
  .card-product__img{position:relative}
  .card-product__imgOverlay{background:rgba(255,255,255,0.5);position:absolute;bottom:0;left:0;width:100%;padding:30px 5px;transform:translateY(30px);opacity:0;z-index:-1;transition:all .48s ease}
   .card-product__imgOverlay li{display:inline-block}

   .card-product__imgOverlay li button{border:0;border-radius:0;padding:7px 12px;background:#8894ff}

   .card-product__imgOverlay li button i,.card-product__imgOverlay li button span{font-size:15px;color:#fff;vertical-align:middle}

   .card-product__imgOverlay li button:hover{background:#384aeb}
    .card-product__imgOverlay li:not(:last-child){margin-right:5px}
     .card-product__title a{color:#222}
     .card-product__price{font-size:18px;font-weight:500}
     .card-product:hover .card-product__imgOverlay{opacity:1;z-index:1;transform:translateY(0)}
     .card-product:hover .card-product__title a{color:#384aeb}


      @media (min-width: 1200px){.offer{background-size:100% 100%} }
      .offer__content{padding:100px 0 110px 0} @media (min-width: 1000px)
      {.offer__content{padding:122px 0 135px 0} }

      .offer__content h3{font-size:35px;font-weight:400;margin-bottom:20px}

       @media (min-width: 650px){.offer__content h3{font-size:50px;margin-bottom:25px}
       }

      .offer__content h4{font-size:30px}
      .offer__content p{color:#555555} */



.modal-body{
        padding:5px;
      }

 .modal-body .col-12
{
  margin-bottom:10px;
}

.modal-body label
{
  font-size: 14px;
  font-weight:500;
  color: #3d4152;
  text-transform: capitalize;
  display: block;
}

.modal-body input, .modal-body textarea , .modal-body select
{
  border-radius:0px;
  background-color: #f2f3f6;
  color: #000000;
  font-weight:500;
}

.modal-body input[type="text"]::placeholder,
.modal-body input[type="text"]::-moz-placeholder,
.modal-body input[type="text"]::-webkit-input-placeholder
{
  color:#384aeb;
}



.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #f2f3f6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-container input:checked ~ .checkmark {
  background-color: #e5e5e5;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #2d41f0;
}

.checkmark {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #e5e5e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}



//product image upload
.imageUpload input[type=file]{
  visibility: hidden;
  display: none;
}

.color-list{
  height: 20px;
  width: 20px;
  box-shadow: 1px 1px 2px 1px #888888;
}


.show_product_list{
  height: 70px;
  width: 70px;
  margin-left: 10px;
  border: 1px solid;
  border-radius: 5px;
}