<div class="panel panel-default">
    <div class="panel-heading">
       <div class="heading"><i class="fa fa-cubes"></i> <span class="section-intro__style"> Colors</span></div>
       <ul class="panel-options">
          <li data-toggle="modal" data-target="#colorAddModal"><i class="fa fa-plus-square"></i>Add Color</li>
          <li><i class="fa fa-sliders"></i> Filter</li>
       </ul>
       
    </div>
    <div class="panel-body">
       <section class="products">
          <div class="product-card" *ngFor="let color of masterColors" style="max-width: 23%;">
             <div class="product-card-img">
                
              <div style="height: 200px; margin: unset; overflow: hidden;">
                 
                 <img class="card-img"  [src]="color.color_image" style="height: 200px; width: 100%;" alt="product1">
              </div>
                <ul class="product-card-imgOverlay">
                   <li data-toggle="modal" data-target="#productAddModal" (click)="selectProduct(product)"><button><i class="fa fa-pencil"></i></button></li>
                   
                </ul>
             </div>
             <div class="product-info">
                <div class="product-brand" style="text-align: center;">{{color.name}}</div>
             </div>
          </div>
         
       </section>
      
    </div>
  </div>
    <!-- image Modal -->
    <div id="colorAddModal" class="modal fade" role="dialog">
       <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-picture-o"></i> Product Image</h4>
             </div>
             <div class="modal-body">
                <form>
                   <div class="row">
                      <div class="col-12 col-md-12">
                         <label for="name">Color Name</label>
                         <input type="text" class="form-control" name="name" [(ngModel)]="addColorData.name" placeholder="name">
                      </div>
                      <div class="col-12 col-md-12">
                         <div class="form-group">
                            <div class="overlay" *ngIf="showOverlay">
                               <img src="../../assets/images/upload.gif" style="height: 90px;width: 90px; margin: 25px;">
                            </div>
                            <img [attr.src]="tempImage" style="height: 150px; width: 150px; margin-left: 100px;">
                            <input name="file"  placeholder="Add color image" type="file" (change)="uploadImage($event.target.files)">
                         </div>
                      </div>
                   </div>
                   
                </form>
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" #modalClose>Cancel</button>
                <button type="button" class="btn btn-primary" (click)="addColor()">Save</button>
             </div>
          </div>
       </div>
       
       </div>
    <!-- end of modal -->