/* You can add global styles to this file, and also import other style files */
body{
  margin:0;
  padding:0;
  background-color: #f2f3f6;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
.row{
  width:100%;
  margin:0px;
  padding:0px;
}
.container-fluid
{
  padding:0px 20px;
}
ul{list-style-type:none;margin:0;padding:0}
a:hover{text-decoration:none}
button{cursor:pointer}
button:focus{outline:0;box-shadow:none}
h1,h2,h3,h4,h5,h6{font-family:"Oswald",sans-serif;color:#222;line-height:1.1}h1,.h1{font-size:50px;font-weight:700}h2,.h2{font-size:36px;font-weight:600}h3,.h3{font-size:26px;font-weight:600}
@media (min-width: 600px){h3,.h3{font-size:36px}}h4,.h4{font-size:20px;font-weight:400;line-height:1.3}a{display:inline-block}.fixed{background:#fff;position:fixed !important;top:0;left:0;width:100% !important}


.btn
{
  border-radius:0px;
  margin:0 10px;
}



.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}



.overlay {
  position: absolute;
  height: 150px;
  width: 150px;
  margin-left: 100px;
  background: #ff00001f;
}
tbody tr {
  cursor: pointer;
}
tbody tr:hover {
 // background-color: yellow;
  // box-shadow: inset 2px 1px 20px 15px #dedbc4;
  box-shadow: 5px 5px 5px 5px #dedbc4;
}
textarea {
  height: 5rem;
}


.product-card {
  padding: 1%;
  flex-grow: 1;
  flex-basis: 23% !important;
  transition: box-shadow 0.3s cubic-bezier(0.81, -0.32, 0.82, 1.51) !important;
  cursor: pointer;
  border: 1px solid;
  margin: 5px;
  border-radius: 6px;
  }


  .product-card-img{
    // position: relative;
    box-shadow: 2px 2px 10px 0 black;
    }