<!-- <app-header></app-header> -->

          <div class="content">
            <div class="account-info">
              <div class="row">
                  <div class="col-md-3">
                      <p class="text-center">
                          <span class="glyphicon glyphicon-user icon-size"></span>
                      </p>
                  </div>
                  <div class="col-md-9">
                      <h4><strong>Pramod Kumar</strong></h4>
                      <h5>pramodkumar@email.com</h5>
                  </div>
               </div>
             </div>

             <!-- Password reset code goes here -->
          <div class="reset-password">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Reset Password</h4>
                </div>
             <div class="modal-body" id="loginForm">

              <form class="col-12 text-center">
                 <div class="form-group" id="signup-message1">
                 </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                           <input type="password" class="form-control form-control-lg" id="spasswd" placeholder="Current Password" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-key"></i></span>
                         <input type="password" class="form-control form-control-lg" id="spasswd" placeholder="New Password" aria-describedby="basic-addon1">
                      </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                       <input type="password" class="form-control form-control-lg" id="spasswd" placeholder="Confirm Password" aria-describedby="basic-addon1">
                    </div>
                </div>
              </form>
             </div>
            <div class="modal-footer">
                  <button type="button" class="btn btn-primary"> Reset</button>
             </div>
           </div>
          </div>

          </div>


